.btn {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  border-radius: 22px;
  color: $accent-color;
  background-color: $background-white-1;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $background-white-1;
  }

  &__vector {
    @include flex(row, center, center);
    width: 180px;
    &--hidden {
      display: none;
    }
  }

  &--vector:hover &__icon,
  &--vector:focus &__icon {
    fill: $background-white-1;
  }

  &__icon {
    width: 16px;
    height: 24px;
    fill: $accent-color;
  }
}

/*RESPONSIVE*/

@include min-width(768px) {
  .btn {
    &--vector {
      @include flex(row, center, center);
      gap: 8px;
    }
  }
}
