@import "https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-white-1;
  background-color: $background-white-1;
  color: $main-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 34px;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  //   width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*RESPONSIVE*/

@include min-width(768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@include min-width(1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
