@import "https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Titan+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  color: $main-text-color;
  background-color: $background-white-1;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titan One", sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  //   width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__lead {
    margin-bottom: 5px;
    font-family: "Titan One", sans-serif;
    font-size: 18px;
    text-align: center;
    color: $background-pink-dark;
  }

  &__title {
    font-size: 34px;
    letter-spacing: 0.04em;
    text-align: center;
    color: $accent-color;
    margin-bottom: 10px;
  }
}

.arrow {
  width: 18px;
  transition: transform 150ms ease-in;
  &:hover,
  &:focus {
    transform: rotateZ(-90deg);
  }

  &--size {
    width: 40px;
  }
}

/*RESPONSIVE*/

@include min-width(768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    &__lead {
      font-size: 26px;
    }

    &__title {
      font-size: 48px;
      margin-bottom: 20px;
    }
  }
}

@include min-width(1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section {
    &__lead {
      font-size: 30px;
    }

    &__title {
      font-size: 58px;
      letter-spacing: 0.06em;
      margin-bottom: 30px;
    }
  }

  .arrow {
    width: 26px;

    &--size {
      width: 40px;
    }
  }
}
