$background-pink-dark: #ffa5ba;
$background-pink-medium: #ffb8ca;
$background-pink-light: #fff5f6;
$background-pink-icon: #fea5bb;
$background-white-1: #ffffff;
$background-orange-1: #f0d1a5;
$background-green-1: #c2e297;
$accent-color: #d41443;
$main-text-color: #000000;
$secondary-text-color: #907e82;
$border-grey-color: #e1e1e1;

// consultar variables sass
$main-fs: 12px;
$secondary-fs: 14px;
